html {
  	margin: 0;
  	padding: 0;
  	width: 100%;
  	height: 100%;
}

body {
	display: block;
	padding : 30px 100px 0 100px;
  	font-size: 12px;
  	color: #424242;
}

.flex-container {
    	display: -webkit-flex;
    	display: flex;
    	flex-wrap: wrap;
    	width: 100%;
}

@media screen and (max-width: 450px) {
	body {
		padding: 0;
		margin: 0;
		width: 100%;
	}
}

@media screen and (min-width: 441px) and (max-width: 975px) {
	body {
		padding : 30px 10px 0 10px;
	}
}

.header {
  	min-height: 56px;
  	transition: min-height 0.3s;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}

.header__logo {
  	height: 115px;
  	margin-right: 1em;
  	margin-bottom: 1em;
  	vertical-align: top;
}

.row {
	width: 100%;
}

.title {
	text-align: right;
}

@media screen and (max-width: 770px) {
	.title {
		text-align: left;
	}
}

.header__title {
	font-family: "Courier New", Courier, monospace;
   	font-weight: 300;
  	font-size: 5.5em;
  	margin: 0;
  	color: #212121;
}

.subtitle {
	font-size: 1.25em;
	padding-right: 1em;
  	margin: 0.15em 0.15em;
  	color: #212121;
}

#bootstrap-overrides .navbar {
    	margin-bottom: 0;
}

#bootstrap-overrides .container {
	margin: 0;
	padding: 0;
	width: 100%;
}

#bootstrap-overrides .img-responsive {
	width: 100%;
	overflow: hidden;
}

.work {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 4em;
	padding-bottom: 20px;
	padding-top: 30px;
	color: #666666;
}

.thumbnail {
	margin: auto;
	display: flex;
  	flex-wrap: wrap;
	width: 100%;
	min-height: 450px;
	height: auto;
}

.thumbnail:hover {
	background: #E8E8E8;
	box-shadow: 8px 8px 5px #B8B8B8;
}

.image {
	width: 100%;
	height: auto;
	overflow: hidden;
   	display: block;
}

.pro {
	text-align: center;
	margin-top: 10px;
	text-transform: uppercase;
}

.lin {
	color: #737373;
	display: inline;
  	word-wrap: break-word;
}

#bootstrap-overrides a {
    	text-decoration: none;
}

@media screen and (min-width: 600px) and (max-width: 992px) {
	.thumbnail {
		width: 55%;
	}
	.work {
		margin: auto;
	}
}

footer {
	display: block;
	width: 100%;
	height: 100px;
	margin-top: 50px;
	background: #B8B8B8;
	margin-bottom: 0;
	text-align: center;
}

.icons {
	display: block;
	padding: 20px;
	margin: auto;
}

#bootstrap-overrides .fa {
	padding: 10px 20px;
	color: #000000;
	font-size: 30px;
}
